table {
    border-collapse: collapse;
}

.grey {
    width: 20%;
    background-color: #dcdce5;
}

.lightgrey {
    width: 20%;
    background-color: #f5f5f5;
}

.main {
    width: 60%;
}

.img {
    width: 100%;
}

.information {
    padding: 30px 36px;
}

.information p {
    color: #666666;
    padding-right: 25px;
} 

.ede {
    background-color: #ededf5;
}

.ede td {
    text-align: center;
    width: 33.3%;
    padding: 33px 36px 38px;
}

.ede p {
    color: #666666;
}